.main{
    padding-left: 170px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.main1 {
    width: 600px;
     height: 400px;
     border: 1px solid red;
    /*border-radius: 5px;
    background-color: brown;*/
    padding: 20px;
    text-align: left;
    align-self: left;
    opacity: 0.8;
  }
  input,textarea,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    border: 1px solid red;
    text-align: left;
    align-self: left;
    color:rgb(24, 22, 22);

  }
  input[type=checkbox],[type=radio]{
    margin:0;
    padding:0;
    float: left;
    align-content: left;
    text-align: left;
    align-self: left;
    width:10%;
    color:rgb(24, 22, 22);
    
  }
  .col1{
      padding-top: 50px;
      align-self: left;
      text-align: left;
  }
  button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: red;

   /*border: 1px solid red;

  }
  
  /* {
    box-sizing: border-box;
  }*/


}