* {box-sizing: border-box;}
/*body{
  background-color: #682a43;
}*/
.header {
    background-color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Times';
    width: 100%;
    /*height:10%;*/
    display:block
  }

/*
  .topnav {
    overflow: hidden;
    background-color: #333;
  }*/
  
  /* Navbar links 
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover 
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }*/

  /* The sidebar menu */
.sidenav {
    /*position:relative;*/
    line-height: 100%;
    position: fixed; /*Fixed Sidebar (stay in place on scroll) */
    overflow:auto;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    
    
    width: 300px;
    
    height:100%;
  }
  div{
    margin:0;
    padding:0;
  }
  
  /* The navigation menu links */
  .sidenav a,h2 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    float: left;
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
  }
  
 

  .footer {
      position: fixed;
      left: 0;
      bottom:0;
      width: 100%;
      background-color:#F1F1F1;
      color: white;
      text-align: center;
}
.content{
  padding-top: 50px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 5px;
  font-family: 'Courier New', Courier, monospace
}
.heading{
  padding-top: 100px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace

}
#first{
  padding-top: 100px;

}
    
